// Additional supporting class for contact.html (used to create position relative)
.contactMainProps{
    position: relative;
}

//Styles for social media icon row
.iconRow{
    display: flex;
    width: 43%;
    text-align: left;
    justify-content: space-between;
    padding-bottom: 22px;
}

//Styles for social media icons
.fab{
    font-size: 2rem;
    color: $white;
}

//Specific z-index set to keep form behind slide-out menu
.featureContents{
    form{
        z-index: 3;
    }
}

// Additional class for contact.html 's sidebar
.contactBar{
    padding: 0;
    padding-top: 30px;
    background: $darkBlueGrey;
}

h3 a{
    text-decoration: none;
    color: $white;
}

// Add additional margin for sidebar in contact.html
.altProps{
    margin-bottom: 70px;
}