// Declare variables placeholders for theme colors
$robinBlue: #86E0F9;
$spruce: #0F614E;
$white: #FFFFFF;
$darkBlueGrey: #0C1423;


// font-family: 'Barlow', sans-serif;
// font-family: 'Lato', sans-serif;

